<header
    [ngClass]="{'medium-Future':medium === 'Future', 'medium-past':medium === 'Past'}">
    <h2>{{medium}}</h2>
    <mw-category-list 
      *ngIf="mediaItems"
      [categories]="mediaItems | categoryList">
    </mw-category-list>
</header>
<section>
  <mw-media-item
    [ngClass]="{'medium-Future': mediaItem.medium==='Future', 'medium-past':mediaItem.medium==='Past'}"
    *ngFor="let mediaItem of mediaItems"
    [mediaItem]="mediaItem"
    (delete)="onMediaItemDelete($event)"></mw-media-item>
</section>
<footer>
  <a routerLink="/add">
    <img src="assets/iconPlus.png" class="icon">
  </a>
</footer>
